{% extends "base.html" %}
{% block title %}회원 가입{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
<div id="content" style="margin-top:65px">
    <h1 class="centered">새로운 회원가입을 환영합니다.</h1>
    <form method="post" action="."> {% csrf_token %}
    {% if form.errors %}
        <p class="error-note">회원 가입에 문제가 생겼네요. 아래 사항을 확인해주세요.
            {{ form.errors }}
        </p>
    {% endif %}
    <p class="centered">다음 정보를 입력해주세요.</p>
    <fieldset class="aligned">
        <table>
            <tr><th colspan="2">회원가입</th></tr>
            <tr>
                <td class="col-left">아이디: </td>
                <td class="col-right">{{ form.username }}</td>
            </tr>
            <tr>
                <td class="col-left">비밀번호: </td>
                <td class="col-right">{{ form.password1 }}</td>
            </tr>
            <tr>
                <td class="col-left">비밀번호 확인: </td>
                <td class="col-right">{{ form.password2 }}</td>
            </tr>
            <tr>
                <td class="submit-row" colspan="2"><input type="submit" value="회원 가입"/></td>
            </tr>
        </table>
    </fieldset>

    <script type="text/javascript">document.getElementById("id_username").focus();</script>
    </form>
</div>
{% endblock %}
