body {
    font-family: 'Sunflower', sans-serif;
    font-size: 14px;
    height: 1000px;
}

/* PAGE STRUCTURE */
div#header {
    position: absolute;
    top: 0px;
    left: 0px;
    height:55px;
    width: 100%;
    display: table;
    background: #ff9fcc;

}

div#menu {
    position: absolute;
    top: 50px;
    left: 0px;
    height: 25px;
    width: 100%;
    display: table;
    table-layout: fixed;
    border-spacing: 40px 0px;
    background: #ff3366;
    font-size: 12px;

}

div#content {
    position: absolute;
    top: 70px;
    left: 50px;
    right: 50px;
}

div#footer {
    position: absolute;
    bottom: 20px;
    left: 50px;
    right: 50px;
    height: 30px;
    border-top:1px solid #ccc;
    top: 900px;
}

/* HEADER */
.maintitle {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    color: white;
    font-weight: bold;
    font-size: 25px;

}

.welcome {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: 20px;
    color: white;
    font-weight: normal;
    font-size: 12px;
}

.welcome a:link, .welcome a:visited {
    color: white;
}

/* MENU */
div#menu a:link, div#menu a:visited {
    color: black;
}
div#menu a:hover{
    color: #fff;
    text-decoration: none;
}
div#menu > li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}


/* pulldown menu */
div#menu li  ul {
    display:none;
    position:absolute;
    margin: 0;
    padding:10px 10px 5px 10px;
    list-style:none;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: white;
    z-index: 1;
}

div#menu li:hover ul {
    display:block;
}

/* LINK */
a:link, a:visited {
    color: #369;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
td a:link, td a:visited{
    color: #ff3366;
}

/* TABLE */
table {
    border-collapse: collapse;
}

td, th {
    line-height: 18px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 5px 15px;
}