{% extends "base.html" %}
{% block title %}REVIEW{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static "css/tabular.css" %}{% endblock %}
{% block content %}
    <!--div#content 내부로 전체 콘텐츠 이동-->
    <div id="content">
        <h1 class="centered" style="margin-top: 65px; margin-bottom: 20px">구매후기</h1>
        <table id="tbl">
            <tr>
                <th>번호</th>
                <th>제품명</th>
                <th>작성자</th>
                <th>등록일</th>
                <th>제품유형</th>
            </tr>
            {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></td>
                <td>{{ post.slug }}</td>
                <td>{{ post.modify_date|date:"Y년 m월 d일 H시 i분" }}</td>
                <td>{{ post.description }}</td>
            </tr>
            {% endfor %}
        </table>
        <br/>
        <!--이전/현재/다음 페이지 이동 -->
        <div class="centered"> <!--div 요소는 블록 요소-->
            <span>  <!--span 요소는 인라인 요소-->
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">이전 페이지</a>
                {% endif %}

                < {{ page_obj.number }} / {{ page_obj.paginator.num_pages }} >

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">다음 페이지</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}